.squares {
  width: 60px;
  height: 60px;
  background-color: yellow;
  margin: 0;
  border: 1px solid;
  border-color: black;
  float: left;
}

.game {
  width: 200px;
  height: 200px;
  padding: 5px;
}

body {
  background: rgb(180, 241, 184);
}

h1 {
  font-size: 30px;
  text-align: center;
  color: rgb(15, 50, 26);
}
